<!doctype html>
<html lang="en">
  <head>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Album example · Bootstrap v5.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ asset("assets/css/acceuil.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <!-- Header -->
  <style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

    
  </head>
  <body>
    
<header>
<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          
            <h1><span>C</span>aveo <span>Auto</span>motive</h1>
          
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/accueil" data-after="Home">Home</a></li>
            <li><a href="/contact" data-after="Contact">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
  <!-- End Header -->
  <br> <br> <br>

    <main>
   
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
              <div class="col">
                <div class="card shadow-sm">
                  <h3>Ressort à lames parabolique</h3>
                  <img src="https://www.granit-parts.fr/media/draw/800x800/GP/28820013.jpg" style="width: 35%">

                  <div class="card-body">
                    <p class="card-text">   Forme:	18<br>
                                            Nombre de lames:	3 / 18 <br>
                                            Charge par essieu (kg):	9000 <br>
                                            Largeur lame (mm):	100 <br>
                                            LV (mm):	495 <br>
                                            LH (mm):	495 <br>
                                            Épaisseur paquet (mm):	63 <br>
                                            Cambrure (mm):	100 <br>
                                            Longueur d'appui (mm):	750 <br>
                                            Poids:	28,40 kg
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-success">Voir plus</button>
                        </a>
                      </div>
                      <small class="text" style="font-weight: bold;">100 €</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card shadow-sm">
                  <h3>Ressort à feuilles 4</h3>
                  <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41Vwd2fQZQL.__AC_SX300_SY300_QL70_ML2_.jpg" style="width: 35%">

                  <div class="card-body">
                    <p class="card-text">  
                     Fabricant	‎CAVEO<br>
                        Lieu d’affaires	‎Coldwater, MI 49036, USA <br>
                        Marque	‎AP Products <br>
                        Modèle	‎014124903 <br>
                        Dimensions du produit	‎67.31 x 13.34 x 5.08 cm; 5.1 kilogrammes <br>
                        Numéro de modèle de l'article	‎014124903 <br>
                        Produit retiré du marché par le fabricant	‎Non <br>
                        Finition	‎Usiné <br>
                        Numéro de série fabricant	‎014-124903 <br>
                        Poids de l'article	‎5.1 kg <br>
                        Pays d’origine	‎Chine <br>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-success">Voir plus</button>
                        </a>
                      </div>
                      <small class="text" style="font-weight: bold;">74 €</small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card shadow-sm">
                  <h3>Ressort à lame arrière</h3>
                  <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61z-SJ435HL._AC_SX425_.jpg" style="width: 35%">

                  <div class="card-body">
                    <p class="card-text">  
                     Les ressorts à lames fonctionnant correctement supportent le <br>
                      poids et la charge utile d'un véhicule et sont essentiels à la <br>
                      performance de suspension et au confort du passager. Vérifiez <br>
                      les détails du produit pour sélectionner les ressorts légers, <br>
                      moyens ou lourds adaptés à votre application. Cette pièce est <br>
                       compatible avec les véhicules suivants : Avant d'acheter, entrez <br> 
                       la garniture de votre véhicule dans l'outil de garage pour <br>
                        confirmer la compatibilité. [Chevrolet Colorado : 2004, 2005, <br>
                        2006, 2007, 2008, 2009, 2010, 2011, 2012] - [GMC Canyon <br>
                         : 2004, 2005, 2006, 2007, 2008, 2009, 2010,<br>
                          2010101010101010, 20101010. 1, 201 2]
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-success">Voir plus</button>
                        </a>
                      </div>
                      <small class="text" style="font-weight: bold;">255 €</small>
                    </div>
                  </div>
                </div>
              </div> 

              <div class="col">
                <div class="card shadow-sm">
                  <h3>Ressort à lamelles compatible 4</h3>
                  <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/61iPD5SGUNL._AC_SX425_.jpg" style="width: 35%">

                  <div class="card-body">
                    <p class="card-text">  
                     les ressorts à lames fonctionnant correctement supportent le <br>
                      poids et la charge utile d'un véhicule et sont essentiels à la <br>
                       performance de suspension et au confort du passager.<br>
                        Vérifiez les détails du produit pour sélectionner les ressorts légers,<br>
                         moyens ou lourds adaptés à votre application. Cette pièce est <br> 
                         compatible avec les véhicules suivants : Avant d'acheter, entrez <br> 
                         la garniture de votre véhicule dans l'outil de garage pour <br>
                          confirmer la compatibilité. [Chevrolet Silverado 1500 HD Classic <br>
                          : 2007] - [Chevrolet Silverado 1500 HD : 2001, 2002, 2003, <br> 
                          2005, 2006] - [Chevrolet Silverado 2500 HD Classic : 2007] <br> 
                          - [Chevrolet Silverado 2500 HD : 2001, 2002020002. , 2003 ,<br>
                           2004, 2005, 2006, 2007, 2008, 2009, 2010] –
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-success">Voir plus</button>
                        </a>
                      </div>
                      <small class="text" style="font-weight: bold;">495 €</small>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="card shadow-sm">
                  <h3>Kit de suspension à ressort</h3>
                  <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41EGhJUONzL._AC_SX425_.jpg" style="width: 35%">

                  <div class="card-body">
                    <p class="card-text">  
                     (2) 4 feuilles 64 cm x 4 cm ressort à double œillet pour essieux de 1 587,6 kg<br>
                        (4) boulons en U de 14 cm de long<br>
                        2 plaques de serrage en U pour ressort de 4,5 cm<br>
                        (8) écrous hexagonaux 1/2"-20<br>
                        L = 14 cm A=6 cm D=1/2"
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="#">
                          <button type="button" class="btn btn-sm btn-success">Voir plus</button>
                        </a>
                      </div>
                      <small class="text" style="font-weight: bold;">194 €</small>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
