
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
   <link href="{{ asset("assets/css/acceuil.css") }}" rel="stylesheet">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <header>
<section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          
            <h1><span>C</span>aveo <span>Auto</span>motive</h1>
          
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/login" data-after="Home">Home</a></li>
            <li><a href="/login" data-after="Service">Login</a></li>
            <li><a href="/register" data-after="Projects">Inscription</a></li>
            <li><a href="/produit" data-after="Home">Admin</a></li>
            <li><a href="/contact" data-after="Contact">contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Welcome, <span></span></h1>
        <h1>To <span></span></h1>
        <h1> CaveoAutoMotive <span></span></h1>
        <a href="http://www.caveoautomotive.com/" type="button" class="cta">Portfolio</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
  <script src="./app.js"></script>
</body>

</html>

